{% extends 'base.html.twig' %}

{% block body %}
    <h1>Via</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ via.name }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ via.order }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ via.comments }}</td>
            </tr>
            <tr>
                <th>Sitstart</th>
                <td>{% if via.sitStart %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Jump</th>
                <td>{% if via.jump %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Expo</th>
                <td>{% if via.expo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Featured</th>
                <td>{% if via.featured %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ via.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('via_index', {"zona_id": via.boulder.sector.zona.id, "sector_id": via.boulder.sector.id, "boulder_id": via.boulder.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('via_edit', { 'id': via.id , "zona_id": via.boulder.sector.zona.id, "sector_id": via.boulder.sector.id, "boulder_id": via.boulder.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
