{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sector edit</h1>

    {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('sector_index', {'zona_id': sector.zona.id}) }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
